@media only screen and (max-width: 1440px) {
    .about {
        padding: 0px 6rem 20px;
    }

    .education {
        padding: 120px 6rem 130px;
    }

    .skill {
        padding: 100px 6rem 130px;
    }

    .project, .testimonial {
        padding: 100px 6rem;
    }

    .footer {
        padding: 85px 8rem 45px;
    }

    form {
        width: 100%;
    }
}

@media only screen and (max-width: 1250px) {
    .education {
        padding: 95px 5rem 130px;
    }

    .education .row {
        gap: 80px;
    }
}

@media only screen and (max-width: 1200px) {
    header img {
        width: 12%;
    }

    .hero .col-md-6:nth-child(1) {
        width: 35%;
    }

    .hero .col-md-6:nth-child(2) {
        width: 65%;
    }

    .hero img:nth-child(1) {
        width: 68%;
    }

    .hero h2 {
        width: 95%;
    }

    .about {
        padding: 0px 4rem 20px;
    }

    .education {
        padding: 85px 3rem 105px;
    }

    .education .row {
        gap: 70px;
    }

    .skill {
        padding: 100px 4rem 120px;
    }

    .project, .testimonial {
        padding: 100px 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    header img {
        width: 14%;
    }

    .section-title {
        font-size: 30px;
    }

    .hero {
        padding: 1.5rem 0 4rem;
    }

    .hero .row {
        flex-wrap: wrap;
    }

    .hero .arrow, .up-arrow, .down-arrow {
        display: none;
    }

    .hero .col-md-6:nth-child(1) {
        width: 100%;
    }

    .hero .col-md-6:nth-child(2) {
        width: 100%;
        text-align: center;
        margin-top: 60px;
        padding: 0 35px;
    }

    .hero img:nth-child(1) {
        width: 26%;
    }

    .hero .col {
        margin-top: 45px;
        justify-content: center;
    }

    .hero h2, .about p, .cta p {
        font-size: 20px;
    }

    .about {
        padding: 0px 2rem 20px;
        height: 90vh;
    }

    .about .icon-button {
        margin-top: 50px;
    }

    .education .row {
        gap: 55px;
    }

    .content {
        position: relative;
        width: 85%;
    }
}

@media only screen and (max-width: 992px) {
    .hero h1, .hero span {
        font-size: 47px;
    }

    .project, .testimonial {
        padding: 100px 3rem;
    }

    .project .row {
        margin-top: 35px;
    }
}


@media only screen and (max-width: 900px) {
    .education .row {
        gap: 85px;
        flex-wrap: wrap;
    }

    .education .col-md-6 {
        width: 100%;
    }

    .skill {
        padding: 100px 3rem 105px;
    }

    .skill-row {
        gap: 62px;
    }
}

@media only screen and (max-width: 825px) {
    header img {
        width: 16%;
    }

    .section-title {
        margin-bottom: 40px;
    }

    .hero img:nth-child(1) {
        width: 30%;
    }

    .hero h1, .hero span {
        font-size: 38px;
    }

    .hero h2, .about p, .cta p {
        font-size: 19px;
    }

    .about {
        height: 87vh;
    }

    .education {
        padding: 85px 3rem 90px;
    }

    .skill-row {
        gap: 55px;
    }
}

@media only screen and (max-width: 768px) {
    header img {
        width: 17%;
    }    
    
    .hero h2, .about p, .cta p {
        font-size: 18px;
    }

    .about {
        padding: 30px 1rem;
        height: 75vh;
    }

    .skill {
        padding: 90px 3rem;
    }

    .skill-row {
        gap: 0;
        flex-wrap: wrap;
    }
    
    .skill-type:nth-child(1) {
        margin-top: 50px;
    }

    .skill-row .skill-set:nth-child(2) .progress-bar:nth-child(1), .skill-row:nth-child(2) .skill-set:nth-child(2) .progress-bar:nth-child(1) {
        margin-top: 0;
    }

    .skill-type {
        font-size: 23px;
    }
}

@media only screen and (max-width: 700px) {
    header img {
        width: 19%;
    }

    .hero img:nth-child(1) {
        width: 34%;
    }
}

@media only screen and (max-width: 630px) {
    .fa-linkedin-in {
        padding: 8px 10px;
    }

    .fa-github {
        padding: 8px 8.7px;
    }

    header img {
        width: 22%;
    }

    .hero img:nth-child(1) {
        width: 40%;
    }

    .education {
        padding: 85px 2rem 90px;
    }
}

@media only screen and (max-width: 550px) {
    .section-title {
        font-size: 28px;
    }

    header img {
        width: 25%;
    }

    .hero {
        padding: 8rem 0 4rem;
    }

    .hero img:nth-child(1) {
        width: 48%;
    }

    .hero h1, .hero span {
        font-size: 33px;
    }

    .hero .col {
        flex-direction: column;
        gap: 22px;
    }

    .hero .col {
        margin-bottom: 95px;
    }
}

@media only screen and (max-width: 470px) {
    .section-title {
        font-size: 26px;
    }

    header img {
        width: 30%;
    }

    .hero {
        padding: 5.5rem 0 4rem;
    }

    .hero img:nth-child(1) {
        width: 50%;
    }

    .about {
        height: 79vh;
    }

}

@media only screen and (max-width: 390px) {
    header img {
        width: 35%;
    }

    .hero {
        padding: 5.5rem 0 6rem;
    }

    .hero img:nth-child(1) {
        width: 60%;
    }

    .about {
        height: 84vh;
    }
}

