@media only screen and (max-width: 1440px) {
    .about {
        padding: 0px 6rem 20px;
    }

    .education {
        padding: 120px 6rem 130px;
    }

    .skill {
        padding: 100px 6rem 130px;
    }

    .project, .testimonial {
        padding: 100px 6rem;
    }

    .footer {
        padding: 85px 8rem 45px;
    }

    form {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    header img {
        width: 12%;
    }

    .hero .col-md-6:nth-child(1) {
        width: 35%;
    }

    .hero .col-md-6:nth-child(2) {
        width: 65%;
    }

    .hero img:nth-child(1) {
        width: 68%;
    }

    .hero h2 {
        width: 95%;
    }

    .about {
        padding: 0px 4rem 20px;
    }

    .education {
        padding: 110px 4rem 120px;
    }

    .education .row {
        gap: 70px;
    }

    .skill {
        padding: 100px 4rem 120px;
    }

    .project, .testimonial {
        padding: 100px 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    header img {
        width: 14%;
    }

    .section-title {
        font-size: 30px;
    }

    .hero {
        padding: 1.5rem 0 4rem;
    }

    .hero .row {
        flex-wrap: wrap;
    }

    .hero .arrow, .up-arrow, .down-arrow {
        display: none;
    }

    .hero .col-md-6:nth-child(1) {
        width: 100%;
    }

    .hero .col-md-6:nth-child(2) {
        width: 100%;
        text-align: center;
        margin-top: 60px;
        padding: 0 35px;
    }

    .hero img:nth-child(1) {
        width: 26%;
    }

    .hero .col {
        margin-top: 45px;
        justify-content: center;
    }

    .hero h2 {
        font-size: 18px;
    }

    .about {
        padding: 0px 2rem;
    }

    .about p {
        font-size: 23px;
    }

    .about .icon-button {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 992px) {
    .hero h1, .hero span {
        font-size: 47px;
    }
}


@media only screen and (max-width: 825px) {
    header img {
        width: 16%;
    }

    .hero img:nth-child(1) {
        width: 30%;
    }

    .hero h1, .hero span {
        font-size: 38px;
    }

    .hero h2 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 768px) {
    header img {
        width: 17%;
    }
}

@media only screen and (max-width: 700px) {
    header img {
        width: 19%;
    }

    .hero img:nth-child(1) {
        width: 34%;
    }
}

@media only screen and (max-width: 630px) {
    header img {
        width: 22%;
    }

    .hero img:nth-child(1) {
        width: 40%;
    }
}

@media only screen and (max-width: 550px) {
    header img {
        width: 25%;
    }

    .hero {
        padding: 4.5rem 0 4rem;
    }

    .hero img:nth-child(1) {
        width: 48%;
    }

    .hero h1, .hero span {
        font-size: 33px;
    }

    .hero .col {
        flex-direction: column;
        gap: 22px;
    }

}

@media only screen and (max-width: 470px) {
    header img {
        width: 30%;
    }

    .hero {
        padding: 5.5rem 0 4rem;
    }

    .hero img:nth-child(1) {
        width: 50%;
    }
}

@media only screen and (max-width: 390px) {
    header img {
        width: 35%;
    }

    .hero img:nth-child(1) {
        width: 60%;
    }
}

