@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
    
body {
    background: #000;
}

header .col {
    display: flex;
    justify-content: center;
}

header img {
    width: 10%;
    max-width: 100%;
}

/* Hero Section */
.hero {
    background: linear-gradient(343deg, #FFFFFF -140%, #000000 53%);
    height: 95vh;
    color: white;

}

.hero .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 30%;
    max-width: 100%;
    border-radius: 50%;
}

.hero h1 {

    text-transform: uppercase;
}

.hero span {
    color: #FF2868;
}

