@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: "Open Sans", serif;
}

.hero, .about, .education, .skills, .projects, .testimonial, .cta, .footer {
    background: linear-gradient(343deg, #FFFFFF -140%, #000000 53%);
    color: white;
}

.section-title {
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 65px;
    color: #fff;
}

.main-btn, .other-btn {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5;
    text-transform: uppercase;
    padding: 12px 36px;
    border: 2px solid #FF2868;
    border-radius: 26px;
    background: #FF2868;
}

.other-btn {
    background: #000;
    color: #fff;
    border: 2px solid #FF2868;
}

.icon-btn {
    color: #fff;
    border: 2px solid #FF2868;
    border-radius: 50%;
    background: #FF2868;
}

.fa-linkedin-in {
    font-size: 25px;
    padding: 10px 12px;
}

.fa-github {
    font-size: 27px;
    padding: 9px;
}

.main-btn:hover {
    color: #fff;
    background: #7A7A7A;
    border-color: #7A7A7A;
    transition: ease-in-out;
    transform: rotate(3deg);
}

.other-btn:hover {
    background: #FF2868;
}

.fa-solid {
    margin-left: 10px;
}

.arrow{
    position: absolute;
    right: 5rem;
    bottom: 5rem;
}

.icon{
    cursor: pointer;
    height: 4.2rem;
}

header .col {
    display: flex;
    justify-content: center;
}

header img {
    width: 10%;
    max-width: 100%;
}

/* Hero Section */
.hero {
    height: 89vh;
    display: flex;
    align-items: center;
}

.hero .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .col-md-6 {
    width: 50%;
}

.hero .col-md-6:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img:nth-child(1) {
    width: 58%;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 3px 2px 7px -2px rgba(106, 102, 113, 0.94);
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

.hero h1 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 0;
}

.hero span {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #FF2868;
}

.hero h2 {
    font-size: 19px;  
    font-weight: 500;  
    line-height: 1.8;
    margin-bottom: 30px;
    width: 82%;
}

.hero .col {
    display: flex;
    gap: 30px;
}

/* About Section */
.about {
    height: 95vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 14rem 30px;
    position: relative;
}

.about p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about span {
    color: #FF2868;
    font-weight: bolder;
}

.about .icon-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.about .up-arrow {
    bottom: 3rem;
}

.about .down-arrow {
    bottom: 8rem;
}

/* Education Section */
.education {
    padding: 80px 12rem 50px;
    position: relative;
}

.education .row {
    display: flex;
    gap: 100px;
}

.education .col-md-6 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-container {
    width: 100%;
}
  
.accordion-item {
    background: transparent;
    margin-bottom: 20px;
    overflow: hidden;
}
  
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #54595F;
    border-radius: 10px 10px 0 0;
}
  
.accordion-header h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #54595F;
}

.accordion-header h3:hover{
    color: #FF2868;
}
  
.accordion-header.active {
    background-color: #1f1f1f;
    border-width: 2px 2px 0;
}

.accordion-header:hover {
    border: 2px solid #FF2868;
}
  
.accordion-header .chevron-icon {
    font-size: 16px;
    color: #FF2868;
    transition: transform 0.3s ease;
    font-weight: bold;
}
  
.accordion-content {
    display: none;
    padding: 25px 20px;
    background-color: #1f1f1f;
    border-width: 0px 2px 2px 2px !important;
    border: 2px solid #54595F;
    border-radius: 0 0 10px 10px;
    color: #fff;
    line-height: 1.5;
}
  
.accordion-content h4 {
    color: #FF2868;
    margin: 0 0 10px;
}
  
.accordion-content ul {
    padding-left: 20px;
}
  
.accordion-content li {
    margin-bottom: 8px;
    list-style: none;
}
  
.accordion-content li::before {
    content: "✔ ";
    color: #FF2868;
}
  
.accordion-header.active .icon i {
    transform: rotate(180deg); /* Flip Chevron Up */
}
  




